.main {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.pat-list {
  width: 25vw;
  border: 2px solid red
}

.img-list {
  flex: 1;
  border: 2px solid green
}

.add-bucket {
  border: 1px solid #ccc;
  background-color: #0000;
  color: white;
  font-size: 16px;

  padding: 8px 16px;
  transition: background-color 350ms, cursor 350ms;
}

.add-bucket:hover {
  background-color: #00000016;
  cursor: pointer;
}