<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/base.css" />
    <title>PillPal</title>
  </head>

  <body>
    <nav class="main-nav">
      <span class="username">username</span>
    </nav>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>

  <script>
    buckets = {
      bucket1: {
        name: "bucket1",
        medicines: [
          {
            name: "medicine1",
            time: "time1",
          },
          {
            name: "medicine2",
            time: "time2",
          },
        ],
      },
      bucket2: {
        name: "bucket2",
        medicines: [
          {
            name: "medicine1",
            time: "time1",
          },
          {
            name: "medicine2",
            time: "time2",
          },
        ],
      },
    };
  </script>
</html>
