<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/base.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>PillPal</title>
  </head>

  <body>
    <nav class="main-nav">
      <div class="logo">
        <img src="../static/images/logo.png" alt="logo" />
      </div>
      <div class="username">username</div>
    </nav>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>

  <script>

    const outputCost = str => {
      console.log(str)
      if(str === "very mild dementia") return 1
      if(str === "mild dementia") return 2
      if(str === "moderate dementia") return 3
      if(str === "extreme dementia") return 4
      return 0;
    }

    const labels = {{ images | tojson }};

    labels.sort((l1,l2) => new Date(l1.created_at) < new Date(l2.created_at))

    const dates = [];
    labels.forEach((label) => {dates.push(new Date(label.created_at).toLocaleDateString('en-GB'))});
    console.log(dates)

    const outputs = [];
    labels.forEach((label) => {outputs.push(outputCost(label.output))})

    const data = {
        labels: dates,
        datasets: [{
            label: 'Level',
            backgroundColor: 'rgb(7, 70, 219)',
            borderColor: 'rgb(7, 70, 219)',
            data: outputs,
        }]
    };

    const config = {
        type: 'line',
        data: data,
        options: { maintainAspectRatio: false }
    };

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
  </script>
</html>
