<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/base.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>PillPal</title>
  </head>

  <body>
    <nav class="main-nav">
      <div class="logo">
        <img src="../static/images/logo.png" alt="logo" />
      </div>

      {% block navsearch %} {% endblock %}

      <div class="username">username</div>
    </nav>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>

  {% block scripts %}{% endblock %}
</html>
