{% extends "patients.html" %} {% block sideimages %}
<div class="img-list">
  <h3>ID: {{ main.id }}</h3>
  <h2>{{ main.name }}</h2>
  <div class="canvas-div">
    <canvas id="myChart"></canvas>
  </div>
  <div class="img-grid">
    {% for img in images %}
    <div>
      <img class="scan-img" src="../static/images/shrek.png" alt="scan" />
      <ul class="img-details">
        <li>{{ img.output }}</li>
        <li>{{ img.created_at[0:10] }}</li>
      </ul>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
