<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PillPal</title>
</head>
<body>
    <nav>
        <!-- Username -->
        <p >Username</p>
        <button>List of Medicines</button>
       
    </nav>
    <!--  Get the list of buckets for the user  -->
    <!-- if length of buckets is 0 -->
    <div id="content">

    </div>
    



</body>
<script>
    buckets = {
        "bucket1": {
            "name": "bucket1",
            "medicines": [
                {
                    "name": "medicine1",
                    "time": "time1"
                },
                {
                    "name": "medicine2",
                    "time": "time2"
                }
            ]
        },
        "bucket2": {
            "name": "bucket2",
            "medicines": [
                {
                    "name": "medicine1",
                    "time": "time1"
                },
                {
                    "name": "medicine2",
                    "time": "time2"
                }
            ]
        }
    }
    
</script>
</html>