{% extends "base.html" %} {% block content %}
<div class="main">
  <!-- <br>
  <h1>Data from Supabase</h1>
  <br>
    <ul>
        {% for item in data_bucket %}
        <h3>Bucket {{ item.bucket_name}}</h3>
        <li>Time {{ item.time_to_have }}</li>
        <br>
        <ul>
            {% for item_m in data_medicine %}
            {% if item_m.bucket == item.id %}
            <li>Medicine {{ item_m.name }}</li>
            <li>Description {{ item_m.description }}</li>
            {% endif %}
            <br>
            {% endfor %}
        </ul>
        <br><br>
        {% endfor %}
    </ul> -->
  <div class="pat-list">
    <h2>Patient List</h2>
    <div>
      {% for pat in patients %}
      <button class="patient_tile">{{pat}}</button>
      {% endfor %}
    </div>
    <button class="add-patient">Add patient</button>
  </div>
  <div class="img-list">
    Image list {% for img in images %}
    <div>{{img}}</div>
    {% endfor %}
  </div>
</div>
{% endblock %}
