{% extends "base.html" %} {% block content %}
<div class="main">
  <div class="pat-list">
    <div>
      {% for pat in patients %}
      <a class="patient_tile" href="/patients?pid={{ pat.id }}">{{pat.id}}</a>
      {% endfor %}
    </div>
  </div>

  {% if images|length > 0 %}
  <div class="img-list">
    <h3>ID: {{ main.id }}</h3>
    <h2>{{ main.name }}</h2>
    <div class="canvas-div">
      <canvas id="myChart"></canvas>
    </div>
    <div class="img-grid">
      {% for img in images %}
      <div>
        <img class="scan-img" src="../static/images/shrek.png" alt="scan" />
        <ul class="img-details">
          <li>{{ img.output }}</li>
          <li>{{ img.created_at[0:10] }}</li>
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>

  {% else %}

  <div class="empty-main">
    <div>No scans found yet. Use telegram to add some</div>
  </div>

  {% endif %} {% endblock %}
</div>

<!-- <br>
  <h1>Data from Supabase</h1>
  <br>
    <ul>
        {% for item in data_bucket %}
        <h3>Bucket {{ item.bucket_name}}</h3>
        <li>Time {{ item.time_to_have }}</li>
        <br>
        <ul>
            {% for item_m in data_medicine %}
            {% if item_m.bucket == item.id %}
            <li>Medicine {{ item_m.name }}</li>
            <li>Description {{ item_m.description }}</li>
            {% endif %}
            <br>
            {% endfor %}
        </ul>
        <br><br>
        {% endfor %}
    </ul> -->
