{% extends "base.html" %} {% block content %}
<div class="main">
  <div class="pat-list">
    <div>
      <a class="type_tile" href="/dementia?pid={{ main.id }}"> Dementia </a>
      <a class="type_tile" href="/tumor?pid={{ main.id }}"> Tumor </a>
    </div>
  </div>

  {% if images|length > 0 %} {% block sideimages %} {% endblock %} {% else %}

  <div class="empty-main">
    <div>
      No {{ scan_type }} scans found yet for {{ main.name }}, id {{ main.id }}.
      Use telegram to add some
    </div>
  </div>

  {% endif %}
  <button id="download" class="download">Download JSON</button>
  {% endblock %}
</div>

{% block navsearch %}
<form method="post" class="search-form">
  <input type="number" placeholder="Search ID" name="input_pid" />
  <button type="submit">
    <img class="search-logo" src="../static/images/search.png" alt="search" />
  </button>
</form>
<script>
  document.getElementById("download").addEventListener("click", function () {
    window.location.href = "/download_data/15";
  });
</script>
{% endblock %}
