{% extends "base.html" %} {% block content %}
<div class="main">
  <div class="pat-list">
    <div>
      <a class="patient_tile" href="/dementia?pid={{ main.id }}"> Dementia </a>
      <a class="patient_tile" href="/tumor?pid={{ main.id }}"> Tumor </a>
    </div>
  </div>

  {% if images|length > 0 %} {% block sideimages %} {% endblock %} {% else %}

  <div class="empty-main">
    <div>
      No {{ scan_type }} scans found yet for {{ main.name }}, id {{ main.id }}.
      Use telegram to add some
    </div>
  </div>

  {% endif %} {% endblock %}
</div>

{% block navsearch %}
<form method="post" class="search-form">
  <input type="number" placeholder="Search ID" name="input_pid" />
  <button type="submit">
    <img class="search-logo" src="../static/images/search.png" alt="search" />
  </button>
</form>
{% endblock %} {% block scripts %}
<script>

  const outputCost = str => {
    if(str === "very mild dementia") return 1
    if(str === "mild dementia") return 2
    if(str === "moderate dementia") return 3
    if(str === "extreme dementia") return 4
    return 0;
  }

  const labels = {{ images | tojson }};

  labels.sort((l1,l2) => new Date(l1.created_at) < new Date(l2.created_at))

  const dates = [];
  labels.forEach((label) => {dates.push(new Date(label.created_at).toLocaleDateString('en-GB'))});
  console.log(dates)

  const outputs = [];
  labels.forEach((label) => {outputs.push(outputCost(label.output))})

  const data = {
      labels: dates,
      datasets: [{
          label: 'Level',
          backgroundColor: 'rgb(7, 70, 219)',
          borderColor: 'rgb(7, 70, 219)',
          data: outputs,
      }]
  };

  const config = {
      type: 'line',
      data: data,
      options: { maintainAspectRatio: false }
  };

  const myChart = new Chart(
      document.getElementById('myChart'),
      config
  );
</script>
{% endblock %}
